flow.json
[
    {"id":"4e749744.069a68","type":"tab","label":"Flow 1"},
    {"id":"d88144d2.de1c88","type":"mqtt-broker","z":"","broker":"hls-local-server.local","port":"1883","clientid":"thermocouple12/unknown","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},
    {"id":"ea20c446.9dcb68","type":"adafruit-max31855","z":"4e749744.069a68","name":"Thermocouple Readings","muxing":"1","channels":"12","sampling":"300","spi_clk":"22","spi_do":"27","spi_cs":"19","reporting":1000,"x":250,"y":280,"wires":[["27e59928.02062e"]]},{"id":"27e59928.02062e","type":"function","z":"4e749744.069a68","name":"Setup Topic and Payload","func":"var elements = msg.payload.split(\",\");\nif (isNaN(elements[2])) {\n    // Value was not a number.\n} else {\n    return {\n        topic: \"/organizations/heatworks/devices/thermocouple12/unknown/\"+elements[1],\n        payload: [elements[0], elements[2]].join(\",\")\n    };\n}","outputs":1,"noerr":0,"x":530,"y":280,"wires":[["729dcc47.ef1874","3331f18f.a60886"]]},{"id":"729dcc47.ef1874","type":"debug","z":"4e749744.069a68","name":"","active":true,"console":"false","complete":"true","x":790,"y":200,"wires":[]},{"id":"3331f18f.a60886","type":"mqtt out","z":"4e749744.069a68","name":"","topic":"","qos":"","retain":"","broker":"d88144d2.de1c88","x":790,"y":280,"wires":[]}]